---
// 이 컴포넌트는 일반 <a> 태그에 전달될 모든 속성을 받습니다.
// <slot />을 사용하여 <a> 태그 내부의 내용을 렌더링합니다.
---

<a
  href={Astro.props.href}
  target={Astro.props.href && !Astro.props.href.startsWith('/')
    ? '_blank'
    : undefined}
  rel={Astro.props.href && !Astro.props.href.startsWith('/')
    ? 'noopener noreferrer'
    : undefined}
  class="text-orange-600 underline transition-colors hover:text-orange-800 dark:text-orange-400 dark:hover:text-orange-300"
>
  <slot />
</a>
